.footer {
   /* background-color:  #353a40;*/
    
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    padding: 15px 5%;
    font-weight: bold;
    line-height: 35px;
    
    position: re;
    bottom: 0px;
    height: 60px;
    
    }
    
    .span {
        color: #e5e5e5;
    }