.footer {
    background-color: #14213d;
    
    display: flex;
    width: 100%;
    padding: 15px 5%;
    font-weight: bold;
    line-height: 35px;
    
    position: relative;
    bottom: 0px;
    height: 60px;
    
    }
    
    .span {
        color: #e5e5e5;
    }